{% extends "base_dialog.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<form method="post">
{% csrf_token %}

<div class="card card-custom bg-white shadow-none">

<div class="card-header">
    <h3>
        {% if object %}
            {% trans "Modifier" %}
        {% else %}
            {% trans "Créer" %}
        {% endif %}
        {% trans "un patient" %}
    </h3>

    <button type="button" class="btn btn-default">
        {% trans "Annuler" %}
    </button>

    <button type="submit" class="btn btn-primary">
        {% trans "Enregistrer" %}
    </button>
</div>

<div class="card-body">

<button type="button" class="btn btn-sm btn-outline-info"
        data-toggle="collapse" href="#blocMutuelle">
    {% trans "Mutuelle" %}
</button>

<button type="button" class="btn btn-sm btn-outline-info"
        data-toggle="collapse" href="#blocConjoint">
    {% trans "Informations sur le conjoint" %}
</button>

<div class="collapse" id="blocConjoint">
<h5>{% trans "Conjoint" %}</h5>

<label>{% trans "Date de mariage" %}</label>
{% render_field patient.date_mariage class+="form-control form-control-sm" %}

<label>{% trans "Nom" %}</label>
{% render_field patient.nom_conjoint class+="form-control form-control-sm" %}

<label>{% trans "Prénom" %}</label>
{% render_field patient.prenom_conjoint class+="form-control form-control-sm" %}

<label>{% trans "Profession" %}</label>
{% render_field patient.profession_conjoint class+="form-control form-control-sm" %}

<label>{% trans "Etat de santé" %}</label>
{% render_field patient.etat_sante_conjoint class+="form-control form-control-sm" %}
</div>

<div class="collapse" id="blocMutuelle">
<h5>{% trans "Mutuelle" %}</h5>

<label>{% trans "Désignation mutuelle" %}</label>
{% render_field patient.designation class+="form-control form-control-sm" %}

<label>{% trans "Caisse d'Affectation" %}</label>
{% render_field patient.caisse_affectation class+="form-control form-control-sm" %}

<label>{% trans "Régime" %}</label>
{% render_field patient.regime class+="form-control form-control-sm" %}

<label>{% trans "N° carnet de soin" %}</label>
{% render_field patient.num_carnet_soin class+="form-control form-control-sm" %}

<label>{% trans "Date validité mutuelle" %}</label>
{% render_field patient.date_validite_mutuelle class+="form-control form-control-sm" %}
</div>

</div>
</div>
</form>
{% endblock %}