{% load widget_tweaks %}
{% load common %}
{% load i18n %}

<div class="card">
<div class="card-body">

<div class="d-flex justify-content-between">

<div class="form-group col-3">
<label class="form-label">{{ form.praticien.label }}</label>
{% render_field form.praticien class+="form-select form-select-solid form-select-sm" %}
</div>

<div class="form-group text-right">
<label class="form-label">&nbsp;</label>
<div>
<button onclick="setQuickT2T3()" type="button"
class="btn btn-sm btn-secondary">
{% trans "Tout normal" %}
</button>
</div>
</div>

</div>


<div class="mt-6">

<ul class="nav nav-pills nav-tabs-bold nav-pills-sm" role="tablist">

<li class="nav-item">
<a id="link_f_1" class="nav-link py-2 active"
data-bs-toggle="tab" href="#f_1">
<span class="nav-text font-weight-bold">{% trans "Foetus A" %}</span>
</a>
</li>

<li class="nav-item">
<a id="link_f_2" class="nav-link py-2"
data-bs-toggle="tab" href="#f_2">
<span class="nav-text font-weight-bold">{% trans "Foetus B" %}</span>
</a>
</li>

<li class="nav-item">
<a id="link_f_3" class="nav-link py-2"
data-bs-toggle="tab" href="#f_3">
<span class="nav-text font-weight-bold">{% trans "Foetus C" %}</span>
</a>
</li>

</ul>


<div class="tab-content">

{{ foetus.management_form }}

{% for f in foetus.forms %}

{% for hidden in f.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if f.non_field_errors %}

<div class="alert alert-custom alert-danger">

<div class="alert-icon">
<i class="flaticon-questions-circular-button"></i>
</div>

<div class="alert-text">{{ f.non_field_errors }}</div>

</div>

{% endif %}


<div class="tab-pane foetus {% if forloop.counter == 1 %}active{% endif %} pt-6"
id="f_{{ forloop.counter }}">

<div class="row">

<div class="mb-3 col-12 col-lg-3">

<h5 class="text-primary font-size-h5">{% trans "Présentation" %}</h5>

{% render_field f.presentation
data-form="consultation_obs_foetus"
data-champ="presentation"
class+="form-select form-select-solid form-select-sm" %}

</div>

</div>


<div class="group-vitalite mt-3">

<h5 class="text-primary font-size-h5">{% trans "Vitalité" %}</h5>

<div class="row">

<div class="mb-3 col-12 col-lg-3">

<label class="form-label">{% trans "Activité cardiaque" %}</label>

{% render_field f.activite_cardiaque
data-form="consultation_obs_foetus"
data-champ="activite_cardiaque"
class+="form-select form-select-solid form-select-sm" %}

</div>


<div class="mb-3 col-12 col-lg-3">

<label class="form-label">{% trans "Fréquence cardiaque" %}</label>

<div class="input-group input-group-solid input-group-sm">

{% render_field f.fc
data-form="consultation_obs_foetus"
data-champ="fc"
class+="form-control form-control-solid"
data-unit="BPM" %}

<span class="input-group-text">BPM</span>

</div>

</div>


<div class="mb-3 col-12 col-xl-3">

<label class="form-label">{% trans "Mobilité" %}</label>

{% render_field f.mobilite
data-form="consultation_obs_foetus"
data-champ="mobilite"
class+="form-select form-select-solid form-select-sm" %}

</div>

</div>

</div>


<div class="group-biometrie mt-3">

<h5 class="text-primary font-size-h5">{% trans "Biométrie" %}</h5>

<div class="row">

<div class="mb-3 col-12 col-lg-3">

<div class="input-group input-group-solid input-group-sm">

<span class="input-group-text w-75px">{% trans "Poids" %}</span>

{% render_field f.poids class+="form-control form-control-solid form-control-sm poids" %}

<span class="input-group-text">g</span>

</div>

</div>

</div>

</div>


<div class="group-morpho mt-3">

<h5 class="text-primary font-size-h5">{% trans "Morphologie" %}</h5>

<div class="row">

<label class="form-label">{% trans "Boîte crânienne" %}</label>
<label class="form-label">{% trans "Structure cérébrale" %}</label>
<label class="form-label">{% trans "Face" %}</label>
<label class="form-label">{% trans "Cou" %}</label>
<label class="form-label">{% trans "Thorax" %}</label>
<label class="form-label">{% trans "Coeur" %}</label>
<label class="form-label">{% trans "Paroi abdominale" %}</label>
<label class="form-label">{% trans "Appareil digestif" %}</label>
<label class="form-label">{% trans "Appareil urinaire" %}</label>
<label class="form-label">{% trans "Rachis" %}</label>
<label class="form-label">{% trans "Membres" %}</label>
<label class="form-label">{% trans "OGE" %}</label>

</div>

</div>


<div class="group-annexes mt-3">

<h5 class="text-primary font-size-h5">{% trans "Annexes" %}</h5>

<label class="form-label">{% trans "Liquide amnio." %}</label>
<label class="form-label">{% trans "Placenta" %}</label>
<label class="form-label">{% trans "Cordon" %}</label>

</div>


<div class="mt-3">

<h5 class="text-primary font-size-h5">{% trans "Commentaires" %}</h5>

{% render_field f.commentaires class+="form-control form-control-solid form-control-sm h-60px" %}

</div>


<h5 class="text-primary font-size-h5">{% trans "Doppler Ombilical" %}</h5>
<h5 class="text-primary font-size-h5">{% trans "Doppler ACM" %}</h5>
<h5 class="text-primary font-size-h5">{% trans "Doppler DV" %}</h5>

</div>

{% endfor %}

</div>

</div>

</div>
</div>