{% extends "base_dialog.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="p-4">
        <div class="mb-4">
            <a href="/patients/{{ patient.pk }}/certificats/ajouter"
               class="btn btn-light-primary font-weight-bolder mr-2">
                <i class="ki ki-long-arrow-back icon-sm"></i>
                {% trans "Précédent" %}
            </a>
        </div>
        <form class="kt-form kt-form--fit mb-1">
            <div class="row">
                <div class="col-4 mb-lg-0 mb-6">
                    <label>{% trans "Date" %}</label>
                    <input type="text" class="date form-control form-control-sm datatable-input" placeholder=""
                           data-col-index="0"/>
                </div>
                <div class="col-4 mb-lg-0 mb-6">
                    <label>{% trans "Praticien" %}</label>
                    <input type="text" class="form-control form-control-sm datatable-input" placeholder=""
                           data-col-index="3"/>
                </div>
            </div>
        </form>
        <table class="table table-bordered table-checkable table-striped" id="datatable_rdv">
            <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Nom" %} du patient</th>
                <th>{% trans "Prénom" %} du patient</th>
                <th>{% trans "Praticien" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
            </thead>
        </table>
    </div>

    <script id="actions-template" type="text/html">
        <a href="/certificats/<%- id %>/modifier" class="btn btn-info btn-icon btn-sm" title="{% trans 'Consulter' %}">
            <i class="la la-eye icon-lg"></i>
        </a>
        <a onclick="supprimer(<%- id %>)" class="btn btn-danger btn-icon btn-sm" title="{% trans 'Supprimer' %}">
            <i class="la la-trash icon-lg"></i>
        </a>
    </script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const certificats = {{  certificats_json|safe }};
    </script>
    <script src="{% static "plugins/custom/datatables/datatables.bundle.js" %}"></script>
    <script src="{% static "js/core/certificat_list.js" %}"></script>
{% endblock %}