# Environment
.env
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Django
public/static/
staticfiles/
db.sqlite3
*.db

# App data
/echo/data/
/data/
uploads/
storage/
logs/
*.log
nohup.out

# OS
.DS_Store
Thumbs.db
__MACOSX/

# IDE
.vscode/
.idea/
*.swp

# Misc
.echoapp_db_export.sql
templates_backup/

