{% load widget_tweaks %}
{% load common %}
<div class="card">
    <div class="card-body">
        <div>
            <h5 class="text-primary font-size-h5">Doppler Utérin</h5>
            <div class="row doppler-uterin">
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <div class="form-group col-12 col-lg-6">
                            <label class="form-label">IP gauche</label>
                            {% render_field form.ip_gauche class+="form-control form-control-solid form-control-sm" data-cr="ip_gauche" %}
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label class="form-label">IR gauche</label>
                            {% render_field form.ir_gauche class+="form-control form-control-solid form-control-sm" data-cr="ir_gauche" %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Notch gauche</label>
                        {% render_field form.notch_gauche data-form="consultation_obstetrique" data-champ="notch" data-cr="notch_gauche" class+="form-select form-select-solid form-select-sm" %}
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <div class="form-group col-12 col-lg-6">
                            <label class="form-label">IP droit</label>
                            {% render_field form.ip_droit class+="form-control form-control-solid form-control-sm" data-cr="ip_droit" %}
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label class="form-label">IR droit</label>
                            {% render_field form.ir_droit class+="form-control form-control-solid form-control-sm" data-cr="ir_droit" %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Notch droit</label>
                        {% render_field form.notch_droit data-form="consultation_obstetrique" data-champ="notch" data-cr="notch_droit" class+="form-select form-select-solid form-select-sm" %}
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-6">
            <h5 class="text-primary font-size-h5">Col</h5>

            <div class="row group-col">
                <div class="form-group col-3">
                    <label class="form-label">Longueur</label>
                    <div class="input-group input-group-solid input-group-sm">
                        {% render_field form.col_long class+="form-control form-control-solid form-control-sm" data-unit="mm" data-cr="col_long" %}
                        <span class="input-group-text">mm</span>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label class="form-label">Orifice interne</label>
                    <div class="input-group input-group-solid input-group-sm">
                        {% render_field form.col_orifice_interne class+="form-control form-control-solid form-control-sm" data-unit="mm" data-cr="col_orifice_interne" %}
                        <span class="input-group-text">mm</span>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label class="form-label">Entonnoir</label>
                    {% render_field form.col_entonnoir data-form="consultation_obstetrique" data-champ="col_entonnoir" data-cr="col_entonnoir" class+="form-select form-select-solid form-select-sm" %}
                </div>
            </div>
        </div>

        <div class="row group-pelvis mt-6">
            <div class="form-group col-3">
                <h5 class="text-primary font-size-h5">Pelvis</h5>

                <div class="form-group">
                    <label class="form-label">Pelvis maternel</label>
                    {% render_field form.pelvis_maternel data-form="consultation_obstetrique" data-champ="pelvis_maternel" class+="form-select form-select-solid form-select-sm" %}
                </div>
            </div>
        </div>
    </div>
</div>