{% extends "base_dialog.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block styles %}
    <style>
        #datatable_programme_operatoire_filter {
            display: none;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="col-12">
        <div class="card card-custom gutter-bs">
            <!--begin::Header-->
            <div class="card-header card-header-tabs-line">
                <!--<div class="card-title">
                    <h3 class="card-label">Rendez-vous du jour</h3>
                </div>-->

                <div class="card-toolbar">
                    <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x"
                        role="tablist">
                        <li class="nav-item mr-1">
                            <a class="nav-link active" data-toggle="tab" href="#absence">
									<span class="nav-icon mr-2">
                                        <i class="far fa-clock mr-3"></i>
                                    </span>
                                <span class="nav-text font-weight-bold">Absence</span>
                            </a>
                        </li>

                        <li class="nav-item mr-2">
                            <a class="nav-link" data-toggle="tab" href="#programme_operatoire">
														<span class="nav-icon mr-2">
															<i class="far fa-calendar icon-xl mr-3"></i>
														</span>
                                <span class="nav-text font-weight-bold">Programme opératoire</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body pl-0 pr-0">
                <div class="tab-content">
                    <div class="tab-pane active" id="absence" role="tabpanel">
                        <form id="form_1" class="form" method="post" action="">
                            {% csrf_token %}

                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            <div class="card card-custom card-sticky bg-white shadow-none" id="kt_page_sticky_card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <h3 class="card-label">
                                            Formulaire de {% if object %}modification{% else %}création{% endif %} <i
                                                class="mr-2"></i>
                                        </h3>


                                    </div>
                                    <div class="card-toolbar">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-primary font-weight-bolder">
                                                <i class="ki ki-check icon-sm"></i>
                                                Confirmer l'absence
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                        <div class="form-group col-12 col-md-3">
                                            <label>Date début</label>
                                            {% render_field form.date_debut id="date_debut" class+="form-control form-control-sm " required="" value=" " readonly="" %}
                                            <div class="invalid-feedback"
                                                 {% if form.date_debut.errors %}style="display: block"{% endif %}>
                                                {{ form.date_debut.errors }}
                                            </div>
                                        </div>
                                        <div class="form-group col-6 col-md-3">
                                            <label>Heure début</label>
                                            {% render_field form.heure_debut id="heure_debut" class+="form-control form-control-sm " required="" value=" " readonly="" %}
                                            <div class="invalid-feedback"
                                                 {% if form.heure_debut.errors %}style="display: block"{% endif %}>
                                                {{ form.heure_debut.errors }}
                                            </div>
                                        </div>
                                        <div class="form-group col-12 col-md-6">
                                            <label>{{ form.motif.label }}</label>
                                            {% render_field form.motif class+="form-control form-control-sm " %}
                                            <div class="invalid-feedback"
                                                 {% if form.motif.errors %}style="display: block"{% endif %}>
                                                {{ form.motif.errors }}
                                            </div>
                                        </div>
                                        <div class="form-group col-12 col-md-3">
                                            <label>Date fin</label>
                                            {% render_field form.date_fin id="date_fin" class+="form-control form-control-sm " required="" value=" " readonly="" %}
                                            <div class="invalid-feedback"
                                                 {% if form.date_fin.errors %}style="display: block"{% endif %}>
                                                {{ form.date_fin.errors }}
                                            </div>
                                        </div>
                                        <div class="form-group col-6 col-md-3">
                                            <label>Heure fin</label>
                                            {% render_field form.heure_fin id="heure_fin" class+="form-control form-control-sm " required="" value=" " readonly="" %}
                                            <div class="invalid-feedback"
                                                 {% if form.heure_debut.errors %}style="display: block"{% endif %}>
                                                {{ form.heure_debut.errors }}
                                            </div>
                                        </div>

                                        <div class="form-group col-12 col-md-6">
                                            <label>Praticien</label>
                                            {% render_field form.praticien class+="form-control form-control-sm " %}
                                            <div class="invalid-feedback"
                                                 {% if form.praticien.errors %}style="display: block"{% endif %}>
                                                {{ form.praticien.errors }}
                                            </div>
                                        </div>
                                        <div class="form-group col-12 col-md-6">
                                            <label>Praticien remplaçant</label>
                                            {% render_field form.praticien_remplacant class+="form-control form-control-sm " %}
                                            <div class="invalid-feedback"
                                                 {% if form.praticien_remplacant.errors %}style="display: block"{% endif %}>
                                                {{ form.praticien_remplacant.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="programme_operatoire" role="tabpanel">
                        {% include 'core/programme_operatoire.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        const praticiens = {{ praticiens_json|safe|escape }};
        console.log('praticiens', praticiens);
        let data = [];
        {% if programme_operatoire_json %}
        data = {{ programme_operatoire_json | safe }};
        {% endif %}
        console.log('Programme opératoire', data);
    </script>
    <script src="{% static "plugins/custom/typeahead/typeahead.bundle.js" %}"></script>
    <script src="{% static "js/core/absence_form.js" %}"></script>
    <script src="{% static "plugins/custom/datatables/datatables.bundle.js" %}"></script>
    <script src="{% static "js/core/programme_operatoire.js" %}"></script>
{% endblock %}
