{% extends "core/base_consultation_v2.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load common %}

{% block sub_navigation %}
    <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab"
           href="#tab-consultation">{% trans "Consultation" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab"
           href="#tab-images">{% trans "Images" %}</a>
    </li>
{% endblock %}

{% block inner_content %}
    <form id="form_1" class="form" method="post" action="">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="tab-content" id="myTabContent">
            <div id="tab-consultation" class="tab-pane fade show active">
                <div class="card">
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                </div>
            </div>

            <div id="tab-images" class="g-5 g-xxl-8 tab-pane fade">
                {% include 'core/partials/consultation_images.html' with consultation=object %}
            </div>
        </div>
    </form>
{% endblock %}
