{% extends "base_dialog.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="p-4">
        <form id="form_1" class="form" method="post" action="">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <div class="row">
                <div class="form-group col-5">
                    <label>{{ form.libelle.label }}</label>
                    {% render_field form.libelle class+="form-control form-control-sm" %}
                    <div class="invalid-feedback"
                         {% if form.libelle.errors %}style="display: block"{% endif %}>
                        {{ form.libelle.errors }}
                    </div>
                </div>
                <!--<div class="form-group col-4">
                    <label>{{ form.forme.label }}</label>
                    {% render_field form.forme class+="form-control form-control-sm" %}
                    <div class="invalid-feedback"
                         {% if form.forme.errors %}style="display: block"{% endif %}>
                        {{ form.forme.errors }}
                    </div>
                </div>-->
            </div>

            <!--<div class="row">
                <div class="form-group col-12">
                    <label>Posologie</label>
                    <textarea name="text" id="id_text" class="h-300px">
                        {% if object %}
                            {{ object.text|safe }}
                        {% else %}

                        {% endif %}
                    </textarea>
                    <div class="invalid-feedback"
                         {% if form.text.errors %}style="display: block"{% endif %}>
                        {{ form.text.errors }}
                    </div>
                </div>
            </div>-->

            <div class="d-flex mt-4 justify-content-end">
                <a href="/traitements-pma/" class="btn btn-default">Annuler</a>
                <button type="submit" id="btn_enregistrer" class="ml-2 btn btn-primary font-weight-bolder"
                        onclick="this.disabled=true,this.form.submit();">
                    <i class="ki ki-check icon-sm"></i>
                    Enregistrer
                </button>
            </div>

        </form>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static "plugins/custom/tinymce/tinymce.bundle.js" %}"></script>
    <script type="text/javascript">

    </script>
    <script src="{% static "js/core/traitement_pma_form.js" %}"></script>
{% endblock %}