{% extends "base_v2.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block header %}
{% include "core/basic_header.html" with module="" %}
{% endblock %}

{% block content %}

<a href="/#liste_salle_attente" class="btn btn-color-light">
    <i class="bi bi-caret-left-fill"></i> {% trans "Salle d'attente" %}
</a>

<div class="card mb-5 mb-xxl-8 mt-6">
<div class="card-body pt-9 pb-0">

<div class="d-flex flex-wrap flex-sm-nowrap">

<div class="flex-grow-1">

<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">

<div class="d-flex flex-column">

<div class="d-flex align-items-center mb-2">
<a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1 h-30px"
   onclick="modifierPatient({{ object.pk }})">
    {{ object.nom_complet }}
</a>
</div>

<div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">

<span class="badge badge-light-primary me-2">
{% trans "Identifiant" %} : {{ object.identifiant_unique }}
</span>

<span class="badge badge-light-primary me-2">
{% trans "Age" %} : {{ object.age }} {% trans "ans" %}
</span>

</div>

</div>

<div class="my-4">
<a href="#" class="btn btn-sm btn-primary me-2">
    {% trans "Nouvelle consultation" %}
</a>
</div>

</div>