{% extends "base_dialog.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load common %}

{% block content %}

<h4 class="pt-4 pb-0 px-4">
    {% if object %}{% trans "Modifier" %}{% else %}{% trans "Ajouter" %}{% endif %}
    {% trans "un Règlement" %}
</h4>

<div class="px-4">
<form method="post">
{% csrf_token %}

<div class="row">
<div class="form-group col-5">
<label>{% trans "Patient" %}</label>
<div class="form-control form-control-sm">
    {{ patient.nom }} {{ patient.prenom }}
</div>
</div>

{% if patient.mutuelle %}
<div class="form-group col-5">
<label>{% trans "Mutuelle" %}</label>
</div>
{% endif %}
</div>

<h5>{% trans "Paiement" %}</h5>

<div class="row">
<div class="form-group col-3">
<label>{% trans "Espèce" %}</label>
{% render_field reglement.espece_payment class+="form-control form-control-sm" %}
</div>

<div class="form-group col-3">
<label>{% trans "Chèque" %}</label>
{% render_field reglement.cheque_payment class+="form-control form-control-sm" %}
</div>

<div class="form-group col-3">
<label>{% trans "Numéro chèque" %}</label>
{% render_field reglement.cheque_number class+="form-control form-control-sm" %}
</div>

<div class="form-group col-3">
<label>{% trans "Date chèque" %}</label>
{% render_field reglement.date_cheque class+="form-control form-control-sm" %}
</div>
</div>

<div class="form-group mt-4">
<label>{{ reglement.note.label }}</label>
{% render_field reglement.note class+="form-control" %}
</div>

<div class="d-flex justify-content-end mt-4">
<a href="#" class="btn btn-default">{% trans "Annuler" %}</a>
<button type="submit" class="btn btn-primary ml-2">
    {% trans "Enregistrer" %}
</button>
</div>

</form>
</div>

{% endblock %}