<div class="row gy-6">
    <div class="col-lg-6 col-12">
        <!--begin::Card-->
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Poids foetal</h3>
                </div>
            </div>
            <div class="card-body">
                <div id="graph-poids" style="height: 400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12">
        <!--begin::Card-->
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Diamètre bipariétal</h3>
                </div>
            </div>
            <div class="card-body">
                <div id="graph-bip" style="height: 400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12">
        <!--begin::Card-->
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Périmètre céphalique</h3>
                </div>
            </div>
            <div class="card-body">
                <div id="graph-pc" style="height: 400px;"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-12">
        <!--begin::Card-->
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Périmètre abdominal</h3>
                </div>
            </div>
            <div class="card-body">
                <div id="graph-pa" style="height: 400px;"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-12">
        <!--begin::Card-->
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Longueur du fémur</h3>
                </div>
            </div>
            <div class="card-body">
                <div id="graph-femur" style="height: 400px;"></div>
            </div>
        </div>
    </div>

</div>